<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :artist %>
        <%= form.text_field :artist, id: :event_artist, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_field :description, id: :event_description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :price_low %>
        <%= form.text_field :price_low, id: :event_price_low, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :price_high %>
        <%= form.text_field :price_high, id: :event_price_high, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :event_date %>
        <%= form.date_field :event_date, id: :event_event_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :number_of_seats %>
        <%= form.text_field :number_of_seats, id: :event_number_of_seats, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= form.submit class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>