<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <%= form_with(model: ticket, local: true) do |form| %>
      <% if ticket.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
          <ul>
            <% ticket.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :ticket_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :seat_id_seq %>
        <%= form.text_field :seat_id_seq, id: :ticket_seat_id_seq, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :address %>
        <%= form.text_area :address, id: :ticket_address , class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :price %>
        <%= form.text_field :price, id: :ticket_price , class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :email_address %>
        <%= form.text_field :email_address, id: :ticket_email_address , class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :phone %>
        <%= form.text_field :phone, id: :ticket_phone , class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.hidden_field :event_id, id: :ticket_event_id %>
      </div>

      <div class="actions">
          <%= form.submit class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>


