<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <h1>Edit Event</h1>
  </div>
  <div class="col-xs-2 pull-right">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><%= link_to 'Show', @event %></button>
      <button type="button" class="btn btn-default"><%= link_to 'Back', events_path %></button>
    </div>
  </div>
</div>
<%= render 'form', event: @event %>


