<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Events</h1>
    </div>
    <div class="col-xs-2 pull-right">
      <% if user_signed_in? && current_user.admin? %>
        <button type="button" class="btn btn-default">
          <%= link_to 'New event', new_event_path %>
        </button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% for event in @events %>
      <div class="col-xs-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= event.artist %></h3>
            <p><%= event.description %></p>
            <p>
              <%= link_to 'Details', event, {:class=>'btn btn-default'} %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>




