<div class="container">
  <p id="notice"><%= notice %></p>
  <p id="komunikat"><%= flash[:komunikat] %></p>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <h1><%= @event.artist %></h1>
    </div>
    <div class="col-xs-2 pull-right">
      <% if user_signed_in? && current_user.admin? %>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_event_path(@event) %></button>
          <button type="button" class="btn btn-default"><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= @event.artist %>
          <span class="label label-primary pull-right" style="font-size: 85%">Price: <%= @event.price_low %> - <%= @event.price_high %></span>
        </div>
        <div class="panel-body">
          <p><%= @event.description %></p>
          <p>Date:  <%= @event.event_date %></p>
          <p>Number of tickets available: <%= @event.number_of_seats %></p>
        </div>
      </div>
    </div>
  </div>
  <%= render "new_ticket", ticket: Ticket.new(:event_id=>@event.id) %>
  <% if user_signed_in? %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <%= render "tickets_list", tickets: current_user.tickets  %>
    </div>
  </div>
  <% end %>
</div>



