<table class="table table-striped">
  <thead>
  <tr>
    <th>Artist</th>
    <th>Event id</th>
    <th>Price low</th>
    <th>Price high</th>
    <th>Number of seats</th>
  </tr>
  </thead>

  <tbody>
  <% events.each do |event| %>
    <tr>
      <td><%= event.artist %></td>
      <td><%= event.id %></td>
      <td><%= event.price_low %></td>
      <td><%= event.price_high %></td>
      <td><%= event.number_of_seats %></td>
    </tr>
  <% end %>
  </tbody>
</table>