<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <h1>Editing Ticket</h1>
  </div>
  <div class="col-xs-2 pull-right">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><%= link_to 'Show', @ticket %></button>
      <button type="button" class="btn btn-default"><%= link_to 'Back', tickets_path %></button>
    </div>
  </div>
</div>

<%= render 'form', ticket: @ticket %>

<%= render "events_list", events: Event.all  %>

