<div class="row">
  <div class="col-xs-8 col-xs-offset-1">
    <h1>Tickets</h1>
  </div>
  <div class="col-xs-2 pull-right">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><%= link_to 'New Ticket', new_ticket_path %></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Seat id seq</th>
          <th>Address</th>
          <th>Price</th>
          <th>Email address</th>
          <th>Phone</th>
          <th>Artist</th>
          <th>Event id</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.seat_id_seq %></td>
            <td><%= ticket.address %></td>
            <td><%= ticket.price %></td>
            <td><%= ticket.email_address %></td>
            <td><%= ticket.phone %></td>
            <td><%= ticket.event.artist %></td>
            <td><%= ticket.event_id %></td>
            <td><%= link_to 'Show', ticket %></td>
            <% if ticket.user == current_user || current_user.admin? %>
              <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
              <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


