<div class="container">
  <div class="row">
    <div class="col-xs-2 pull-right">
      <div class="btn-group" role="group" aria-label="...">
        <% if @ticket.user == current_user %>
          <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_ticket_path(@ticket) %></button>
        <% end %>
        <button type="button" class="btn btn-default"><%= link_to 'Back', tickets_path %></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= @ticket.event.artist %>
        </div>
        <div class="panel-body">
          <p>Name: <%= @ticket.name %></p>
          <p>Seat id: <%= @ticket.seat_id_seq %></p>
          <p>Address: <%= @ticket.address %></p>
          <p>Price: <%= @ticket.price %></p>
          <p>Email address: <%= @ticket.email_address %></p>
          <p>Phone: <%= @ticket.phone %></p>
          <p>Event id: <%= @ticket.event_id %></p>
        </div>
      </div>
    </div>
  </div>
</div>
