/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.field_with_errors {
    padding: 2px;
    background-color: red;
    display: block;
}

button > a {
    color: #337ab7 !important;
    text-decoration: none !important;
}
button > a:hover {
    color: #337ab7 !important;
    text-decoration: none !important;
    background-color: initial !important;
}
button > a:focus {
    color: #337ab7 !important;
    text-decoration: none !important;
}

button > a:visited {
    color: #337ab7 !important;
    text-decoration: none !important;
}